extends layout

block content
    link(rel="stylesheet", href="/stylesheets/user.css")
    #contents(style="visibility:hidden;opacity:0")
        nav#nav
            .fign.fign-logo-small
            #tabs
                .wrapper
                    a#tab-familys.tab(href="/families")
                        .img
                    a#tab-person.tab.active(href="/user")
                        .img
                    a#tab-user.tab(href="/profile")
                        .img
        form#status-form.main-layout
            input(type="hidden", name="id", value=userId)
            .user-top
                #status-image.user-status-image(style="background-image:url('/images/집.png')")
                select#status.select-status(name="imagename", onChange="setImage()")
                    option(value="집") 집
                    option(value="술") 회식중
                    option(value="이동중") 운전중
                    option(value="노래방") 여가중
                    option(value="쇼핑") 쇼핑중
                    option(value="공부") 공부중
                    option(value="카페") 휴식중
                script(src="/javascripts/status-image.js")
            .user-bottom
                .icon-clock
                .wrapper
                    select.select-status(name="starttime")
                        - for(var i = 1; i <= 24; i++)
                            option(value=`${i}:00`) #{i}:00
                    select.select-status(name="endtime")
                        - for(var i = 1; i <= 24; i++)
                            option(value=`${i}:00`) #{i}:00
                .icon-location
                .wrapper
                    input(type="text", name="name")
                button#submit(type="button") 확인
        script(src="/javascripts/user.js")